.icon-wrapper {
  cursor: pointer;
  margin-right: 10px;
  opacity: 0.9;
  border-radius: 100px;
  padding: 4px;
  background-color: rgba(230, 230, 230, 0.35);
  transition: all ease-in-out 0.2s;
  display: flex;
}

.icon-wrapper:hover {
  opacity: 1;
  background-color: rgba(241, 241, 241, 0.247);
}


img {
    width: 30px;
  height: 30px;
}